@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display', serif;
}
.nav-color {
    background-color: #E5E5E5 !important;
}

.logotype {
    width: 10rem;
    height: 8rem;
}

.logo2 {
    width: 5rem;
    height: 4rem;
}

.nav-size {
    font-size: 1.5em;
    margin-left: 5rem;
}

.font-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    color: #6e6b6b !important;
}

.copyright {
      font-size: 0.6rem;
}

.fab {
    font-size: 1.5rem;
    margin-top: 0.3rem;
}

.hem-image {
    height: 90vh;
    opacity: 85%;
}

.import-image {
    width: 15.5rem;
    height: 25rem;
    border-radius: 3px;
}

.import-div {
    border: solid 1px #E5E5E5;
    border-radius: 4px;
    background-color: #f1eeee;
    margin: 3rem;
    padding: 1rem;
}

.font-italic {
    font-style: italic;
}

  